
    <center>
    <img src="https://i2.wp.com/alimsports.com/wp-content/uploads/2017/02/%C2%A1Los-10-deportes-mas-practicados-en-todo-el-mundo.jpg?fit=2920%2C1423" width="400" height="300">
    <h1><%= @estadistica.user_id %></h1>
    </center>
    <h3>Estadisticas:</h6>
    <h3>Partidos Ganados:</h6>
    <p><%= @estadistica.partidos_ganados%></h3>
    <h3>Partidos Empatados:</h6>
    <p><%= @estadistica.partidos_empatados%></h3>
    <h3>Partidos Perdidos:</h6>
    <p><%= @estadistica.partidos_perdidos%></h3>
    <h3>Goles anotados:</h6>
    <p><%= @estadistica.goles_anotados%></h3>
    